<div style="background-color:ActiveCaption">
    <div class="container">
        <div class="row">
            <div class="col-md-12 hidden-xs">
                <div id="my-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#my-carousel" data-slide-to="1"></li>
                        <li data-target="#my-carousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="images/images (1).jpg" />
                            <div class="carousel-caption">
                                <h3>Caption heading 1</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="images/images (2).jpg" />
                            <div class="carousel-caption">
                                <h3>Caption heading 2</h3>
                                <p>Morbi eget libero quis metus consectetur semper.</p>
                            </div>
                        </div>

                        <div class="item">
                            <img src="images/images (3).jpg" />
                            <div class="carousel-caption">
                                <h3>Caption heading 3</h3>
                                <p>Suspendisse ullamcorper massa eget eleifend iaculis.</p>
                            </div>
                        </div>

                    </div>
                    <a class="left carousel-control" href="#my-carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#my-carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <!--main-->
        <div>
            <!-- item -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div item-for-sell>   </div>
            </div>
            <!-- item -->
            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                <div item-for-sell>   </div>
            </div>
        </div>
    </div>
</div>

