<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h2>Settings</h2>
            <div class="panel">
                <ul class="nav nav-stacked nav-pills">
                    <li ng-class="settings == 'categories' ? 'active' : ''">
                        <a href="#/admin/settings/categories">Categories</a>
                    </li>
                    <li ng-class="settings == 'trades' ? 'active' : ''">
                        <a href="#/admin/settings/trades">Trades</a>
                    </li>
                    <li ng-class="settings == 'products' ? 'active' : ''">
                        <a href="#/admin/settings/products">Products</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-8">
            <h2>{{settings | uppercase}}</h2>

            <table class="table table-bordered table-hover table-striped table-responsive">
                <thead>
                    <tr>
                        <th ng-repeat="(key,val) in datas[0]">
                            {{key}}
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in datas">
                        <td ng-repeat="(key,val) in data">
                            {{val}}
                        </td>
                        <td>
                            <div class="btn btn-default btn-sm"
                                 ng-click="showModalEdit(data.Id)">Edit</div>
                            <div class="btn btn-danger btn-sm"
                                 ng-click="showModalDelete(data.Id)">Delete</div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn btn-primary"
                 ng-click="showModalAdd()">Add item</div>

        </div>
    </div>
</div>


<!--MODALS-->
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{settings | uppercase}}</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-repeat="(key,val) in currentObj">
                    <label class="control-label" for="{{data}}">{{key}}</label>
                    <input type="text" class="form-control" id="{{data}}" placeholder="{{key}}" ng-model="currentObj[key]">
                </div>
                {{currentObj}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="edit()">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Are you sure?</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-repeat="(key,val) in currentObj">
                    <label class="control-label" for="{{data}}">{{key}}</label>
                    <input type="text" class="form-control" id="{{data}}" disabled ng-model="currentObj[key]">
                </div>
                {{currentObj}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" ng-click="delete()">Delete</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--MODALS-->
<div class="modal fade" id="addModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add new item</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" ng-repeat="(key,val) in currentObj">
                    <label class="control-label" for="{{data}}">{{key}}</label>
                    <input type="text" class="form-control" id="{{data}}" placeholder="{{key}}" ng-model="currentObj[key]">
                </div>
                {{currentObj}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="add()">Add</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->